.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container input {
    max-width: 400px;
    height: 40px;
    margin: 10px 0;
}

.container button {
    margin-left: 10px;
    height: 40px;
}