.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container input {
    max-width: 400px;
    height: 40px;
    margin: 10px 0;
}

.container button {
    margin-left: 10px;
    height: 40px;
}

@media screen and (max-width: 620px) {

    .container{
        display: flex;
        flex-direction: column;
    }
    .container button {
        height: 40px;
        margin: 0;
        max-width: 500px;
        width: 100%;
    }

    .container input {
        max-width: 500px;
        height: 40px;
        margin: 10px 0;
    }
}