* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    padding: 40px 60px;
    height: 100%;
    background-color: rgb(228, 228, 228);
}

@media screen and (max-width: 620px) {
    .app {
        padding: 40px 10px;
    }
}